appname = notifier
httpport = 8080
runmode = dev
devtrace = true

redisHost = 127.0.0.1
redisPort = 6379

sms_gate_url = https://example.com/send_sms.php
sms_gate_user = user
sms_gate_pass = pass
sms_gate_from =

gmailUsername = test@example.com
gmailPassword = abc123
gmailHost = smtp.gmail.com
gmailPort = 587

apiGetParticipants = http://localhost/index.php?r=calendar/entry/getParticipants&uguid=81a2c9c7-239e-42af-b0f9-035fd79d2d60&
apiSecretKey = secretkey12345